/* === START COLORS === */
/*
blue: #1e3190
light blue: #7190FC
gray: #f4f3fb
border gray: #e4e4e4
white: #ffffff
orange: #ffb071
purple: #e271ff
green: #55ae66
box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
*/
/* === END COLORS === */

/* === START GENERAL SETTINGS === */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans bold';
  src: url('../fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PT Sans italic';
  font-style: italic;
  src: url('../fonts/PTSans-Italic.ttf');
}

@font-face {
  font-family: 'PT Sans bold italic';
  src: url('../fonts/PTSans-BoldItalic.ttf');
}

:root {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.text-decoration {
 text-decoration: none;
 color: white;
}

.text-decoration:hover {
  text-decoration: none;
  color: rgb(205, 205, 205);
 }

body {
  font-family: 'PT Sans', 'sans-serif';
  font-weight: normal;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.d-none {
  display: none !important;
}

.content-wrapper {
  position: absolute;
  top: 30px;
  left: 150px;
  width: calc(100% - 180px);
  padding: 40px 20px 0;
  margin: 0 auto;
  z-index: -1;
}
/* === END GENERAL SETTINGS === */

/* === START DESKTOP NAV === */
#desktop-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 100vh;
  background-color: #1e3190;
  color: #fff;
  position: fixed;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#desktop-nav a:hover {
  cursor: pointer;
}

#desktop-nav .menu-wrapper a {
  background-color: #1e3190;
  color: #fff;
  transition: all 0.2s;
}

#desktop-nav .menu-wrapper a:hover {
  background-color: #fff;
  color: #1e3190;
}

.logo-wrapper {
  margin: 30px 0;
}

.logo {
  width: 40px;
  height: auto;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.menu-wrapper a {
  color: #fff;
  text-decoration: none;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-wrapper a {
  display: flex;
  align-items: center;
  height: 25px;
  padding-left: 20px;
  border-left: 5px solid transparent;
}

.menu-wrapper .active {
  border-left: 5px solid #fff;
}

.profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top center;
  margin-top: auto;
  margin-bottom: 30px;
  border-radius: 100%;
}

/* === END DESKTOP NAV === */

/* === START MOBILE NAV === */
#mobile-nav,
#mobile-nav a {
  color: #fff;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: #1e3190;
  width: 100vw;
  position: fixed;
  z-index: 2;
}

#mobile-nav .profile-img {
  width: 40px;
  height: 40px;
  margin: 0;
}

#mobile-nav .logo {
  height: 40px;
  width: auto;
}

#mobile-nav .nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#mobile-nav .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

#mobile-nav .menu-line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

#mobile-nav .menu-line::before,
#mobile-nav .menu-line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

#mobile-nav .menu-line::before {
  transform: translateY(-10px);
}

#mobile-nav .menu-line::after {
  transform: translateY(10px);
}

#mobile-nav .open .menu-line {
  background-color: transparent;
}

#mobile-nav .open .menu-line::before {
  transform: rotate(-45deg);
}

#mobile-nav .open .menu-line::after {
  transform: rotate(45deg);
}

#mobile-nav .nav-body-wrapper {
  /*height: 280px;*/
  height: 160px;
}

#mobile-nav .nav-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}

#mobile-nav .nav-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* === END MOBILE NAV === */

/* === START LAYOUT === */
.layout {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nav content";
}

.desktop-nav {
  grid-area: nav;
  grid-column-start: 1;
  grid-column-end: 2;
}

.content {
  grid-area: nav;
  grid-column-start: 2;
  padding: 20px;
  max-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* === END LAYOUT === */

/* === START TOOLTIP === */
.tooltip-click, .tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-click .tooltiptext, .tooltip .tooltiptext {
  font-size: 10px;
  visibility: hidden;
  width: 80px;
  background-color: #1e3190;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -40px;
}

.tooltip-click .tooltiptext::after, .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #1e3190 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-click .tooltiptext {
  visibility: hidden;
}

/* === END TOOLTIP === */

/* === START BACKLOG === */
.headline-wrapper {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  font-family: 'PT Sans bold';
  font-size: 32px;
}

.sub-headline {
  font-family: 'PT Sans bold';
  font-size: 12px;
  color: #1e3190;
}

.task-container {
  /*--n: 4; 
  display: grid;
  grid-template-columns: repeat(auto-fill,
           minmax(max(280px,(100% - (var(--n) - 1)*10px)/var(--n)), 1fr));
  gap: 20px;
  margin: 5px; */
  
  /*display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);  
  max-width: calc(1110px);
  */
  display: grid;
  grid-auto-columns: calc((100% - 2*20px)/3); /* size of one column */
  grid-gap: 20px;
  justify-content: center;
}

.category-color {
  height: 350px;
}

.category-color:nth-child(3n + 1) {grid-column: 1}
.category-color:nth-child(3n + 2) {grid-column: 2}
.category-color:nth-child(3n + 3) {grid-column: 3}

.task-wrapper {
  width: 100%;
  height: calc(100% - 10px);
  margin-top: 10px;
  background-color: #fff;
  border: 2px solid rgba(200, 200, 200, 0.5);
  border-top: none;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

.task-wrapper,
.assigned-wrapper {
  gap: 5px 0;
}

.task-wrapper,
.category-color {
  border-radius: 10px;
}

.assigned-wrapper,
.title-wrapper,
.category-wrapper,
.date-wrapper,
.urgency-wrapper,
.description-wrapper {
  display: flex;
}

.title-wrapper,
.category-wrapper,
.date-wrapper,
.urgency-wrapper,
.description-wrapper {
  align-items: baseline;
}

.assigned-wrapper > div:first-child,
.title-wrapper > div:first-child,
.category-wrapper > div:first-child,
.date-wrapper > div:first-child,
.urgency-wrapper > div:first-child,
.description-wrapper > div:first-child {
  min-width: 100px;
  font-size: 14px;
  font-family: 'PT Sans bold';
  color: #1e3190;
}

.assigned-wrapper {
  flex-direction: column;
}

.assigned-wrapper .tooltiptext {
  width: 140px;
  margin-left: -70px
}

.assigned-wrapper .tooltiptext a {
  color: #fff
}

.task-wrapper .image-wrapper {
  display: flex;
  gap: 10px;
}

.task-wrapper .assigned-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.task-wrapper .description {
  overflow-y: auto;
  max-height: 100px;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  gap: 0 10px;
  padding-top: 10px;
  margin-top: auto;
}

.task-wrapper .button-wrapper img {
  cursor: pointer;
}
/* === END BACKLOG === */

/* === START LOGIN === */
#login {
  background-color: #1e3190;
  background-image: url(/src/img/login-background.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  color: white;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#login .headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  margin-bottom: unset;
}

.glass-button {
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(30px);
  color: rgba(255,255,255,0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

#login .horizontal-line {
  background-color: rgb(255 255 255 / 39%);
}

.form-wrapper img {
  width: 50px;
  height: auto;
}

.login {
  font-family: 'PT Sans bold', 'sans-serif';;
  font-size: 32px;

}

form {
  width: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

#login input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


textarea:focus, input:focus{
  outline: none;
}
/* === END LOGIN === */

/* === START BOARD === */
.board-wrapper {
  margin: 30px 20px 0px 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 120px;
  gap: 32px;
  width: calc(100% - 160px);
  z-index: -1;
}

.todo,
.inprogress,
.testing,
.done {
  width: 25%;
}

.todo-header,
.inprogress-header,
.testing-header,
.done-header {
  text-align: center;
  text-transform: uppercase;
}

.todo-content,
.inprogress-content,
.testing-content,
.done-content {
  min-height: 70vh;
  border-radius: 10px;
  background-color: #f4f3fb;
  padding: 8px;
  border: 1px solid  transparent;
  transition: all 125ms ease-in-out;
}

.board-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #1e3190;
  cursor: move;
  outline: unset;
}

.highlight {
  background-color: #fff;
  border: 1px solid #1e3190;;
  /* background-color: rgba(244, 243, 251, 0.3); */
  transition: all 125ms ease-in-out;
}
/* === END BOARD === */


/* === START TASK === */

@keyframes msgSuccess {
  0%  {z-index: 2;}
  50%  {opacity: 1;}
  100% {opacity: 0; display: none;}
}

.msg-success {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  background-color: #1e3190;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  opacity:0;
  animation-name: msgSuccess;
  animation-duration: 3s;
}

form.task {
  position: relative;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  gap: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form.task .item {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

form.task .item *:first-child {
  font-size: 16px;
  font-family: 'PT Sans bold';
  color: #1e3190;
}

form.task .item option {
  font-size: 14px !important;
  font-family: 'PT Sans' !important;
  color: #000 !important;
}

form.task .item > * {
  width: 100%;
}

form.task .title-wrapper,
form.task .date-wrapper,
form.task .category-wrapper,
form.task .urgency-wrapper,
form.task .description-wrapper,
form.task .assigned-wrapper {
  display: flex;
  flex-direction: column;
}

form .image-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
  border: 3px solid transparent;
  cursor: pointer;
  opacity: 0.7;
  transition: border 0.25 ease-in-out;
}

form .image-wrapper img:hover {
  opacity: 1;
}

form .image-wrapper .editor-selected {
  border: 3px solid #1e3190;
  opacity: 1;
  transition: border 0.25s ease-in-out;
}

form.task .row-bottom {
  display: flex;
  justify-content: end;
}

form.task input,
form.task select,
form.task textarea {
  height: 40px;
  border-radius: 10px;
  border: 2px solid rgba(200, 200, 200, 0.5);;
  font-family: 'PT Sans';
  padding: 5px;
  font-size: 14px;
}

form.task textarea {
  height: 130px;
  resize: none;
}

form.task textarea:focus,
form.task input:focus,
form.task select:focus {
  outline: none;
  border: 2px solid #1e3190;
}

form.task .image-wrapper {
  display: flex;
  gap: 10px 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

form.task .button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0 10px;
}

form.task .button-wrapper button {
  width: 120px;
  height: 40px;
  font-family: 'PT Sans bold' !important;
  font-size: 14px !important;
  border-radius: 10px;
  color: #1e3190;
  border: 2px solid #1e3190;
  cursor: pointer;
  background-color: #fff;
  transition: all 0.25s;
}

form.task .button-wrapper button:hover {
  background-color: #1e3190;
  color: #fff;
}
/* === END TASK === */

@media screen and (max-width: 800px) {
  #content-task, #content-backlog, #content-help, .board-wrapper {
    padding: 80px 20px 20px 20px;
  }
  
  #desktop-nav {
    display: none;
  }

  #content-task, #content-backlog {
    padding: 80px 20px 20px 20px;
  }
  .layout {
    display: unset;
  }

  /*.msg-success {
    top: 60px;
    position: fixed;
  }*/

  form.task .title-wrapper,
  form.task .date-wrapper,
  form.task .category-wrapper,
  form.task .urgency-wrapper,
  form.task .description-wrapper,
  form.task .assigned-wrapper {
    width: 100%;
    gap: 10px 0;
  }
}