/* === START COLORS === */
/*
blue: #1e3190
gray: #f4f3fb
border gray: #e4e4e4
white: #ffffff
orange: #ffb071
purple: #e271ff
green: #55ae66
box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
*/
/* === END COLORS === */

/* === START GENERAL SETTINGS === */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  src: url('../fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: 'PT Sans bold';
  src: url('../fonts/PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PT Sans italic';
  font-style: italic;
  src: url('../fonts/PTSans-Italic.ttf');
}

@font-face {
  font-family: 'PT Sans bold italic';
  src: url('../fonts/PTSans-BoldItalic.ttf');
}

:root {
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans', 'sans-serif';
  font-weight: normal;
  margin: 0;
}

p,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.d-none {
  display: none !important;
}
/* === END GENERAL SETTINGS === */

/* === START DESKTOP NAV === */
#desktop-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100vh;
  background-color: #1e3190;
  color: #fff;
}

#desktop-nav a:hover {
  cursor: pointer;
}

#desktop-nav .menu-wrapper a {
  background-color: #1e3190;
  color: #fff;
  transition: all 0.2s;
}

#desktop-nav .menu-wrapper a:hover {
  background-color: #fff;
  color: #1e3190;
}

.logo-wrapper {
  margin: 30px 0;
}

.logo {
  width: 40px;
  height: auto;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.menu-wrapper a {
  color: #fff;
  text-decoration: none;
}

.horizontal-line {
  height: 1px;
  width: 100%;
  margin: 15px auto;
  background-color: rgba(255, 255, 255, 0.2);
}

.menu-wrapper a {
  display: flex;
  align-items: center;
  height: 25px;
  padding-left: 20px;
  border-left: 5px solid transparent;
}

.menu-wrapper .active {
  border-left: 5px solid #fff;
}

.profile-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top center;
  border: 2px solid #fff;
  margin-top: auto;
  margin-bottom: 30px;
  border-radius: 100%;
  cursor: pointer;
}
/* === END DESKTOP NAV === */

/* === START MOBILE NAV === */
#mobile-nav, #mobile-nav a {
  color: #fff;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  background-color: #1e3190;
  width: 100vw;
}

#mobile-nav .profile-img{
  width: 40px;
  height: 40px;
  margin: 0;
}

#mobile-nav .logo {
  height: 40px;
  width: auto;
}

#mobile-nav .nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid rgba(255,255,255, 0.7);
}

#mobile-nav .menu-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  position: relative;
}

#mobile-nav .menu-line {
  width: 30px;
  height: 4px;
  background-color: #fff;
  transition: 0.25s ease-in-out;
  border-radius: 10px;
}

#mobile-nav .menu-line::before,
#mobile-nav .menu-line::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  transition: 0.5s ease-in-out;
  border-radius: 10px;
}

#mobile-nav .menu-line::before {
  transform: translateY(-10px);
}

#mobile-nav .menu-line::after {
  transform: translateY(10px);
}

#mobile-nav .open .menu-line {
  background-color: transparent;
}

#mobile-nav .open .menu-line::before {
  transform: rotate(-45deg);
}

#mobile-nav .open .menu-line::after {
  transform: rotate(45deg);
}

#mobile-nav .nav-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 0;
}

#mobile-nav .nav-body a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255, 0.2);
}
/* === END MOBILE NAV === */
